<form class="login_register_form" method="POST" action="">
    {% block formContent %} 
    {% if formAction == 'register' %} 
    {% include
    'Assets/_register_form_content.html.twig' %} 
    {% elseif formAction == 'login'%}
    {% include 'Assets/_login_form_content.html.twig' %}
    {% endif %}
    {% endblock%}
</form>
