{% block formContent %}
<h2>Connexion</h2>
<label for="email">E-MAIL</label>
<input type="email" name="email" />
<label for="password">MOT DE PASSE</label>
<input type="password" name="password" />
<button class="register-button" type="submit">Rejoindre l'aventure</button>
{% endblock %}
