{% block formContent %}
<h4>Connexion</h4>
<label for="email">VOTRE E-MAIL</label>
<input type="email" name="email" />
<label for="password">VOTRE MOT DE PASSE</label>
<input type="password" name="password" />
{% include 'Assets/_connectionButton.html.twig' %} {% endblock %}
