{% block formContent %}
<h4>Inscrivez-vous pour jouer !</h4>
<label for="name">VOTRE NOM D'UTILISATEUR</label>
<input type="text" name="name" />
<label for="email">VOTRE E-MAIL</label>
<input type="email" name="email" />
<label for="password">VOTRE MOT DE PASSE</label>
<input type="password" name="password" />
<label for="confirmPassword">CONFIRMEZ LE MOT DE PASSE</label>
<input type="password" name="confirmPassword" />
{% include 'Assets/_connectionButton.html.twig' %} {% endblock %}
