<ul>
    <li>La Victoire de Samothrace</li>
    <li>La Vénus de Milo</li>
    <li>Le Sacre de Napoléon</li>
    <li>La Liberté guidant le peuple</li>
    <li>Les Noces de Cana</li>
    <li>Le Radeau de la Meduse</li>
    <li>La Grande Odalisque</li>
    <li>La Mort de Sardanapale</li>
    <li>Baigneuse</li>
    <li>Diane de Versailles</li>
    <li>Apollon du Belvédère</li>
    <li>La Madeleine à la veilleuse </li>
    <li>La Tête de Méduse </li>
    <li>La Vierge de l'Annonciation </li>
    <li>La Venus Italica </li>
    <li>La Galerie d'Apollon</li>
</ul>