{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/credits.css" />
{% endblock %} {% block content %}
<main>
    <section>
        <h1><a href=''><span class='handwritten'>La Nuit</span> du Conservateur</a></h1>
        <article>
            <p>Félicitations et merci pour votre participation !</p>

            <p>
                Nous tenons à vous remercier chaleureusement pour votre aide
                précieuse dans la résolution de ce mystère. Grâce à vous, le
                Collier de perles de Marie Antoinette a été retrouvé, et
                l'exposition de Monsieur Daley peut ouvrir comme prévu. En signe
                de notre gratitude, nous sommes ravis de vous offrir une
                réduction de 10% valable pendant un an sur toute notre boutique
                du Louvre. Merci encore pour votre dévouement et votre passion
                pour l'art et l'histoire. Nous espérons vous revoir bientôt au
                musée ou en ligne !
            </p>

            <p>Avec nos sincères remerciements,</p>

            <p>L'équipe du Musée du Louvre</p>
        </article>
        <audio controls autoplay>
            <source src="/assets/music/Arsene.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </section>
    <aside class="scroll-blk">
        <div class="scroll-text" id="data">
            {% for category, persons in credits %}
            <h3>{{ category|capitalize|replace({'_': ' '}) }}</h3>
            <ul>
                {% for person in persons %}
                <li>{{ person.firstname }} {{ person.lastname }}</li>
                {% endfor %}
            </ul>
            <p class="info-text"> </p>
            {% endfor %}
        </div>
    </aside>
</main>
<footer>
    <a>Infos</a>
    <a>2024</a>
</footer>
{% endblock %}

{% block javascript %}
<script>
var my_time;
		var count = 0;
		setTimeout('pageScroll()', 1200);
		function pageScroll() {
      // If condition to set repeat 
			if (count < 2) {
				var objDiv = document.getElementById("data");
				objDiv.scrollTop = objDiv.scrollTop + 1;
				if (objDiv.scrollTop == (objDiv.scrollHeight - 61)) {
          setTimeout(function() {
						objDiv.scrollTop = 0;
						count++;
            }, 1200);
				}
        //set scrolling time start
				my_time = setTimeout('pageScroll()', 10);
        //set scrolling time end
			}
		}
</script>
{% endblock %}
