{% extends 'layout.html.twig' %} {% block stylesheet %}<link
    rel="stylesheet"
    href="/assets/css/register.css"
/>{% endblock %} {% block content %}
<div class="register_login">
    {% include 'Assets/_form.html.twig' with {'formAction': 'register'} %}
        <p>
            Vous avez déjà un compte ? <a href="/login">Connectez-vous ici</a>
        </p>
    </form>
</div>
{% endblock %}
