body {
    background-image: url("../images/credits.png");
    background-size: cover ;
    background-repeat: no-repeat;
    color:white;
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    height: 92vh;
}

section {
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
}

aside {
    width: 40%;
    height: 80vh;
    margin-top: 20vh;
}

h1 {
    margin: 0;
    padding: 5vw;
    font-size: 4rem;
    flex: 1;
}

.handwritten {
    font-family: 'Mervale Script', sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}


li {
    list-style-type: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

p {
    line-height: 3rem;
}

footer {
    padding: 2vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: "Ubuntu Condensed", sans-serif;
    margin: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
}

.scroll-text{
    overflow-y: auto;
    height: 70%;
    overflow: hidden;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'MyriadPro-Regular';
}

.scroll-text p{
    margin: 0px;
    font-size: 12px;
    color: #000;
    font-family: 'MyriadPro-Regular';
    padding-bottom: 5px;
}
.info-text{
    text-align: center;
    font-size: 11px;
    text-decoration: underline;
    line-height: 1.2;
    color: #fff;
    margin-top: 5px;
    font-family: 'MyriadPro-Regular';
}

audio {
    margin: 0 auto;
}