.card__content {
    display: block;
    padding: 0;
}

p {
    margin-bottom: 2rem;
}

.puzzle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.puzzle__container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    min-width: 500px;
    flex-wrap: wrap;
}

img {
    height: 7.4rem;
    width: 7.83rem;
}

.puzzle__solution-container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    min-width: 480px;
    flex-wrap: wrap;
    max-height: 700px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.puzzle__solution-container__block {
    height: 7.4rem;
    width: 7.83rem;
    border: 1px dotted black;
}

.puzzle__side-container {
    display: flex;
    flex-direction: row;
    max-width: 25rem;
    min-width: 500px;
    flex-wrap: wrap;
    margin-top: 12%;
}

.puzzle__side {
    height: 7.4rem;
    width: 7.83rem;
    border: 1px dotted goldenrod;
}
