.card__content {
    padding: 0;
}

article {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.puzzle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
} 

.puzzle__container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

img {
    height: 135px;
    width: 155px;
}


.puzzle__solution-container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    flex-wrap: wrap;
    max-height:270px;
    margin-top: 90px;
}

.puzzle__solution-container__block {
    height: 135px;
    width: 155px;
    border: 1px dotted black;
}

.puzzle__side-container {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.puzzle__side {
    height: 135px;
    width: 155px;
    border: 1px dotted goldenrod;
}
