main {
    width: 100vw;
}

form {
    width: 75vw;
    margin: auto;
}

input {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 28px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1.8rem; /* Keep the font size as you specified */
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1a1a1a;
    margin-bottom: 2rem;
    max-width: 100%; /* Ensure it does not exceed the container's width */
    height: 8vh;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Ensure no overflow */
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
    color: white;
}

input:active {
	position:relative;
	top:1px;
}
