body {
    background-color: darkgray;
    color: #1a1a1a;
    height: 100vh;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    color:white;
    margin: auto;
    padding-bottom: 30px;
    font-size: 8rem;
}

main {
    padding: 2%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 85%;
    width: 90%;
    margin: 40px;
}

strong {
    font-size: 3rem;
}

form {
    margin: auto;
}

i {
    color: red;
    margin: 0;
}

button {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 100px;
    border-width: 0px;
    border-radius: 50px;
    background-color: #f4b659;
    box-shadow: 0px 0px 2px 0px #333333;
    margin: 10px;
    font-weight: 500;
    font-size: 2rem;
}

button .mb-text {
    color: #000000;
    font-family: Tahoma;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
    display: block;
    background-color: unset;
    position: relative;
    padding: 18px 0px 0px 0px;
}

.clue {
    background-color: white;
}

button:hover,
button:active {
    height: 150px;
    width: 450px;
    transition: 0.5s;
}