form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.lobby-zoomed {
    transition: transform 0.8s;
    transform: translate(-10%, -10%) scale(1.2);
}

.gallery-zoomed {
    transition: transform 0.5s;
    transform: translate(-10%, -10%) scale(3);
}

.exhibition-zoomed {
    transition: transform 0.5s;
    transform: translate(90%, 30%) scale(3);
}

div {
    cursor: pointer;
}

.lobby-zoom-1 {
    width: 30vw;
    height: 40vh;
    margin: 0 0 5vh 40vw;
}

.lobby-zoom-2 {
    width: 20vw;
    height: 50vh;
    margin: 0 50vw 5vh 0;
}

.lobby-zoom-3 {
    width: 20vw;
    height: 50vh;
    margin: 0 0 5vh 80vw;
}

.gallery-zoom-4 {
    width: 15vw;
    height: 30vh;
    margin: 0 0 15vh 0;
}

.gallery-zoom-5 {
    width: 15vw;
    height: 30vh;
    margin: 0 0 15vh 25vw;
}

.gallery-zoom-6 {
    width: 10vw;
    height: 30vh;
    margin: 0 30vw 20vh 0;
}

.exhibition-zoom-7 {
    width: 20vw;
    height: 70vh;
    margin: 0 80vw 0 0;
}

.exhibition-zoom-8 {
    width: 20vw;
    height: 50vh;
    margin: 0 15vw 20vh 0;
}

.exhibition-zoom-9 {
    width: 20vw;
    height: 50vh;
    margin: 0 0 20vh 10vw;
}

.lobby-to-challenge {
    position: absolute;
    z-index: 3;
    height: 45vh;
    width: 35vw;
    margin-left: 35rem;
    margin-bottom: 20vh;
}

.gallery-zoom {
    position: absolute;
    z-index: 4;
    height: 13vh;
    width: 5vw;
    margin-right: 3rem;
    margin-bottom: 20rem;
}

.gallery-to-challenge {
    position: absolute;
    z-index: 3;
    height: 30vh;
    width: 10vw;
    margin-left: -24rem;
    margin-bottom: 7rem;
}

.exhibition-zoom {
    position: absolute;
    z-index: 4;
    height: 20vh;
    width: 5vw;
    margin-right: 77rem;
    margin-bottom: 22rem;
}

.exhibition-to-challenge {
    position: absolute;
    z-index: 3;
    height: 50vh;
    width: 15vw;
    margin-right: 70rem;
    margin-bottom: 6rem;
}

.visible {
    visibility: visible;
}

body {
    background-image: url('/assets/images/rooms/1.png');
    background-size: cover ;
    background-repeat: no-repeat;
    color:white;
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
}

main {
    display: flex;
}

p {
    text-align: center;
    font-size: 2rem;
    width: 80%;
    margin: auto;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#myButton {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin: 15px;
}

.myButton:hover {
	background-color:transparent;
}

.myButton:active {
	position:relative;
	top:1px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.image2 {
    background-image: url('/assets/images/rooms/2.png');
}

.image3 {
    background-image: url('/assets/images/rooms/3.png');
}

.error_img {
    background-image: url('/assets/images/error.jpg');
}

.belphegor {
    background-image: url('/assets/images/challenges/9/belphegor.png');
    opacity: 10%;
    background-repeat: no-repeat;
}