* {
    margin: 0;
}
body {
    display: block;
}

.card__outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    background-color: #000000;
    border-radius: 20px;
}

.card__inner {
    height: 60vh;
    width: 80vw;
    background-color: #dedede;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgoldenrod;
}

.card__content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h2 {
    align-self: flex-start;
    margin-left: 5rem;
    color: #ffffff;
}

button {
    height: 4rem;
    width: 8rem;
    border-radius: 40px;
}

button:hover,
button:active {
    height: 4.5rem;
    width: 8.5rem;
    transition: 0.5s;
}

button#validate {
    background-color: #f4b659;
}
button#validate:hover {
    background-color: goldenrod;
}

button#validate:active {
    background-color: gold;
}

button#clue {
    background-color: gray;
}
button#clue:hover {
    background-color: darkgrey;
}

button#clue:active {
    background-color: #dedede;
}

.handwritten {
    font-family: 'Mervale Script', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.register_login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    height: 100vh;
}

aside {
    grid-column-start: 1;
    background-color: #1a1a1a;
}

span {
    display: inline-block;
    grid-column-start: 1;
    line-height: 2rem;
    color: #ffffff;
    padding: 0 2rem;
    margin-top: 10rem;
}


h4, p {
    margin: auto;
}

input {
    height: 1.5rem;
    width: 100%;
    border-radius: 10px;
    background-color: #243b55;
    color: #ffffff;
}

.register-login_form {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2rem;
    height: 400px;
    padding: 1.5rem;
    margin-top: 10rem;
    margin-right: 5rem;
    background-color: #141e30;
    border-radius: 20px;
    color: #ffffff;
}

.registerButton {
    align-self: center;
    margin-top: 0.8rem;
    background-color: #f4b659;
    border-radius: 40px;
    padding: 1rem;
}

.registerButton:hover {
    font-size: 1rem;
    background-color: goldenrod;
    padding: 1.2rem;
    transition: 0.5s;
}

.registerButton:active {
    font-size: 1rem;
    background-color: gold;
    padding: 1.5rem;
    transition: 0.5s;
}