{% extends 'layout.html.twig' %}


{% block title %}
    La Nuit du Conservateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/rooms/{{ id }}.css">
{% endblock %}

{% block content %}
<main>
    <p>Passant la porte avec une anticipation croissante, je me retrouve dans  une pièce qui, à première vue, me semble étrangement différente de ce à  quoi je m'attendais. D'habitude bondée de visiteurs, elle est maintenant  étrangement calme. Puis, mon regard est captivé par la présence d’une  œuvre. Face à moi, éclatante dans sa solitude, se trouve la peinture  tant convoitée.</p>
</main>
<aside>
    <p>?</p>
</aside>
{% endblock %}
