{% extends 'layout.html.twig' %}


{% block title %}
    La Nuit du Conservateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/rooms/room.css">
{% endblock %}

{% block content %}
<main>
    <button id='myButton'>?</button>
    <p id='redirection' class='hidden'>Passant la porte avec une anticipation croissante, je me retrouve dans  une pièce qui, à première vue, me semble étrangement différente de ce à  quoi je m'attendais. D'habitude bondée de visiteurs, elle est maintenant  étrangement calme. Puis, mon regard est captivé par la présence d’une  œuvre. Face à moi, éclatante dans sa solitude, se trouve la peinture  tant convoitée.</p>
</main>
{% endblock %}

{% block javascript %}
<script> var dynamicId = {{ id }};</script>
<script src="assets/js/room.js"></script>
{% endblock %}