{% extends 'layout.html.twig' %}


{% block title %}
    La Nuit du Conservateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/rooms/intro.css">
{% endblock %}

{% block content %}
<main>
    <p>Je vois que vous n'avez pas peur des énigmes et des défis, USERNAME ! Votre courage et votre détermination seront vos meilleurs alliés dans cette aventure. Préparez-vous à affronter des mystères captivants et à révéler les secrets cachés du Louvre. Bonne chance ! Nous viendrons à nous rencontrer à cette aventure.</p>
    <p>Demain matin, l'exposition de Monsieur Daley ouvre ses portes, mais nous  avons un petit souci : le Collier de Perles de Marie Antoinette,  l'objet vedette, a mystérieusement disparu ! Le directeur, le visage  rouge de colère, m'a hurlé de le retrouver avant demain matin, sinon c'est la  porte ! Ah, les joies du métier de conservateur ! Votre mission est  cruciale : aidez-moi à retrouver ce précieux collier et à sauver  l'exposition. Vous aurez besoin de toute votre ingéniosité et de votre  sens de l'observation. Bonne chance, et merci pour votre aide précieuse !</p>
</main>
    
{% endblock %}
