{% extends 'layout.html.twig' %}


{% block title %}
    La Nuit du Conservateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/rooms/wrapper.css">
{% endblock %}

{% block content %}
<main id='next'>
    <p id='text'>Je vois que vous n'avez pas peur des énigmes et des défis, USERNAME ! Votre courage et votre détermination seront vos meilleurs alliés dans cette aventure. Préparez-vous à affronter des mystères captivants et à révéler les secrets cachés du Louvre. Bonne chance ! Nous viendrons à nous rencontrer à cette aventure.</p>
</main>
    
{% endblock %}

{% block javascript %}
<script>const url = window.location.pathname;</script>
<script src="assets/js/wrapper.js"></script>
{% endblock %}