{% extends 'layout.html.twig' %}


{% block title %}
    La Nuit du Conservateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/rooms/outro.css">
{% endblock %}

{% block content %}
<main>
    <p>Je tiens à vous féliciter chaleureusement pour votre bravoure et votre  détermination. Grâce à votre habileté et à votre persévérance, vous avez  réussi à récupérer le Collier de perles de Marie-Antoinette, déjouant ainsi les plans de l'infâme  Belfegor. Votre intervention a sauvé l'événement crucial de demain, et  pour cela, nous vous en sommes profondément reconnaissants.</p>
</main>
    
{% endblock %}
