{% extends 'layout.html.twig' %}


{% block title %}
    La Nuit du Conservateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/rooms/wrapper.css">
{% endblock %}

{% block content %}
<main id='next'>
    <p id='text'>Je tiens à vous féliciter chaleureusement pour votre bravoure et votre  détermination. Grâce à votre habileté et à votre persévérance, vous avez  réussi à récupérer le Collier de perles de Marie-Antoinette, déjouant ainsi les plans de l'infâme  Belfegor. Votre intervention a sauvé l'événement crucial de demain, et  pour cela, nous vous en sommes profondément reconnaissants.</p>
</main>
{% endblock %}

{% block javascript %}
<script>const url = window.location.pathname;</script>
<script src="assets/js/wrapper.js"></script>
{% endblock %}