{% extends 'layout.html.twig' %} {% block content %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/challenge.css">{% endblock %}
<div>
    <div>{% block challenge %}{% endblock %}</div>
    <button>Indice</button>
    <button>Valider</button>
</div>
{% endblock %}
