{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/anagramme.css">
{% endblock %}

{% block content %}
<main>
	<h1>{{ name }}</h1>
   <section>
      {% include 'Assets/challenge_id_' ~ id ~'.html.twig' %}
      <article>
         <p>{{ instructions }}</p>
         <form method='post' action="/challenges/validation" id='validation'>
            <input type="hidden" name="id" value="{{ id }}">
            <input type="text" name='user_answer'></input>
         </form>
      </article>
   </section>
   <aside>
      <button class='clue' type="button">Indice</button>
      <button class='validate' type="submit" form="validation">Valider</button>
   </aside>
   
</main>
{% endblock %}
