{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/puzzle.css">
{% endblock %}

{% block content %}
<h1>Title :{{ name }}</h1>
{% for image in images %}
   <img src='{{ image }}' alt='list of paintings'>
{% endfor %}
<p>{{ instructions }}</p>
<form method='post' action="">
<input type="text"></input>
</form>
{% endblock %}
