{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/anagramme.css">
{% endblock %}

{% block content %}
<main>
	<h1><span class='handwritten'>{{ name }}</span></h1>
   <section>
      <div>
         {% include 'Assets/text_id_' ~ id ~'.html.twig' %}
      </div>
      <article>
         <p>{{ instructions }}</p>
         {% include 'Assets/wordplay_id_' ~ id ~'.html.twig' %}
         <form method='post' action="/challenges/validation" id='validation'>
            <input type="hidden" value="{{ id }}">
            <input type="text" name='user_answer'></input>
         </form>
         <p><i id='indice' class='hidden'>{{ clue }}</i></p>
      </article>
   </section>
   <aside>
      <button id ='clueButton' class='clue' type="button">Indice</button>
      <button class='validate' type="submit" form="validation">Valider</button>
   </aside>
   
</main>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
       const button = document.getElementById('clueButton');
       button.addEventListener('click', () => {
           const clueElement = document.getElementById('indice');
           clueElement.classList.toggle('hidden');
           clueElement.classList.toggle('visible');
       });
   });
</script>
{% endblock %}
