{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/anagramme.css">
{% endblock %}

{% block content %}
<main>
	<h1>Challenge {{ id }}</h1>
   <section>
      <div class='assets'>
         {% for image in images %}
            <img src='{{ image }}' alt='list of paintings'>
         {% endfor %}
      </div>
      <div>
         <p>{{ instructions }}</p>
         <form method='post' action="/challenges/validation" id='validation'>
            <input type="hidden" name="id" value="{{ id }}">
            <input type="text" name='user_answer'></input>
            <button id='validation'>Valider</button>
         </form>
      </div>
   </section
</main>
{% endblock %}
