{% extends 'layout.html.twig' %} {% block content %} {% if isCorrect %}
<form method="post" action="/home">
    <h1>Vous avez gagné !</h1>
    <button type="submit">Prochain challenge</button>
</form>
{% else %}
<form method="post" action="/challenges/type?id={{ challenge.id }}">
    <h1>Perdu</h1>
    <button type="submit">Rejouer</button>
</form>
{% endif %} {% endblock %}
