{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/room.css">
    <link rel="stylesheet" href="/assets/css/result.css">
{% endblock %}

{% block content %}
<main>
    {% if isCorrect %}
        {% if challenge.id == 9 %}
            {% set redirectUrl = '/outro' %}
        {% else %}
            {% set redirectUrl ="/room?rid=" ~ nextRoomId ~ "&cid=" ~ (challenge.id + 1) %}
    {% endif %}
    <h1>Félicitations !</h1>
    <form method="post" action= {{ redirectUrl }}>
        <button type="submit">Prochain challenge</button>
    </form>
    {% else %}
    <h1>Perdu</h1>
    <form method="post" action="/challenges?id={{ challenge.id }}">
        <button type="submit">Rejouer</button>
    </form>
    {% endif %}
</main>
{% endblock %}

{% block javascript %}
<script>
var roomId = {{ challenge.room_id }};
   const body = document.getElementById('body');
   body.classList.add(`image${ roomId }`);
</script>
{% endblock %}